@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@300;400;500;600&family=Roboto&display=swap');

body {
    font-family: "roboto", sans-serif;
    margin: auto;
}

main {
    margin: 1.5rem;
}

.container-img {
    width: 100%;
    height: auto;
}


/* Navbar stylying */

.navbar {
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    font-size: medium;
    padding: 0.5rem;
}
.image-text {
    position: absolute;
    top: 25%;
    color: #fafafa;
    padding: 10px;
    margin-left: 50%;

}
.image-expression {
    color: #A65B84;
}
@media screen and (min-width:1500px) {
    .image-text {
        font-size: 1.8rem;
    }
    
}
@media screen and (max-width: 900px) {
    .image-text {
        font-size: 1.2rem;
    }
    
}
@media screen and (max-width: 500px) {
    .image-text {
        display: none;
    }
    
}


.btn-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: none;
    font-size: 15px;
    border: #fafafa;
    background-color: #A65B84;
    color: black;
    padding: 15px;
    border-radius: 70px;
};

/* Home page quotes style */

.blockquote p {
    font-size: 1rem;
}
/* header image */

.img-block{
    width: 100%;
    height: auto;
    
}
/*nav bar span*/
.navbar-brand {
    font-size: 2.5rem;
}
.span-color {
    color:  #2B1E59;;
}
.text-expression {
    color: #2B1E59;
}

/* About us page styles */

.info-box {
    margin: 2.0rem;
}


/* Mentoring page styles */

.main-section {
    background-color: #fafafa;
    text-align: center;
}

.percentage-section {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1em;

}

.graph-one {
    border: 1px solid black;
    width: fit-content;
    height: 10em;
    background-color: rgba(0, 128, 0, 0.281);
}

.graph-two {
    border: 1px solid black;
    width: fit-content;
    height: 9em;
    background-color: rgba(0, 128, 0, 0.281);
}

.graph-three {
    border: 1px solid black;
    width: fit-content;
    height: 9em;
    background-color: rgba(0, 128, 0, 0.281);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    
}