@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@300;400;500;600&family=Roboto&display=swap');

body {
    font-family: "roboto", sans-serif;
    margin: auto;
}

main {
    margin: 1.5rem;
}

/* Navbar stylying */

.navbar {
    padding: 0;
}

.nav-item {
    font-size: medium;
    padding: 0.5rem;
}


.btn-top {
    position: fixed;
    bottom: 40px;
    right: 20px;
    display: none;
    font-size: 15px;
    border: #fafafa;
    background-color: red;
    color: black;
    cursor: pointer;
    padding: 15px;
    border-radius: 70px;
};

.btn-primary {
    background-color:#002147;
    border-radius: 50px;
}


/* Mentoring page styles */


.main-section {
    background-color: #fafafa;
}

.percentage-section {
    display: flex;
    text-align: center;
    /* justify-content: center; */

}

.graph-one {
    border: 1px solid black;
    width: fit-content;
    height: 10em;
    background-color: rgba(0, 128, 0, 0.281);
}

.graph-two {
    border: 1px solid black;
    width: fit-content;
    height: 9em;
    background-color: rgba(0, 128, 0, 0.281);
}

.graph-three {
    border: 1px solid black;
    width: fit-content;
    height: 9em;
    background-color: rgba(0, 128, 0, 0.281);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    
}